{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'Home.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
  </head>

  <body class="u-body">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-width="1300" data-image-height="628" id="sec-a7f4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-title u-text-1">반갑습니다 {{ name }} 님</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">저희와 함께 모험을 떠나 주세요<br>
          <br>
        </p>
          <form method="get" action="../test/0">
            <input type="submit" class="u-black u-btn u-btn-round u-button-style u-hover-grey-50 u-radius-20 u-btn-1" value="모험 떠나기">
          </form>
      </div>
    </section>
      <style type="text/css">
          .u-section-1 {
      background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("{% static 'main_photo.jpg' %}");
      background-position: 50% 50%;
    }
      </style>
  </body>
</html>